@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
	color: #D3D3D3;
}

body {
	margin: 0;
	background-color: #1151B4;
	font-family: Roboto;	
}

.menu-mobile{
	display: none;
}

.wraper {
	display: flex;
	justify-content: center;	
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

header {		
    margin-left: 150px;     
    padding-top: 20px;     
}

h1{
	color: white;	
	font-size: 36px;
	max-width: 400px;
}

h1:hover{
	
}

p {	
	max-width: 500px;	
	margin: 0;
}

nav {	
	padding: 0px; /* Adds 10 pixels of padding to the top */   
}

nav ul {
	
}

ul {
	list-style-type: none;
	padding: 0; /* Remove default padding */    
}

nav ul li{
	padding-top: 20px; /* Adds 10 pixels of padding to the top */
    padding-bottom: 20px;
}

a {
	text-decoration: none;
}

.menu {
	position: absolute;/*Without it the h1 and p shake when on hover*/
	color: #D3D3D3;
	text-transform: uppercase;	
    font-size: 15px;   
    transition: font-size 0.3s; 
}

.menu-cc{
	width: 100px;
	margin-bottom: 10px;
}

.cont-resume{
	margin-top: 30px;
}

#resume {	
	color: #404040;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 15px;
	outline: none;	
	cursor: pointer;	
	transition: all 0.3s;
	border-radius: 10px;
	border: none;
}

#resume:hover {
	padding: 5px 20px;
}

.fas {
	padding-left: 10px;
}

.fa-linkedin {
    color: white;
    font-size: 24px;       
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjust to your preferred size */
    height: 40px; /* Adjust to your preferred size */
    border-radius: 50%; /* Makes the container round */    
    transition: background-color 0.3s, transform 0.3s; /* Add transitions for a smooth hover effect */
}

.fa-linkedin:hover {
	background-color: #0077B5; /* Change to your desired hover background color */
    transform: scale(1.2); /* Scale up the icon on hover */
}




main {		
    overflow-y: auto; /* Enable vertical scroll when content overflows */    
    padding: 90px; 
    max-height: 72vh;  
    scroll-behavior: smooth;
    margin-left: 50px;
   
}

main::-webkit-scrollbar {
	 display: none;*/
}

section {
	margin-bottom: 80px;
}


.about-p {
	margin-bottom: 10px;
	line-height: 1.5;
	margin-left: 20px;
}



#experience {
	font-size: 14px;   
}

.containers {	
	margin-bottom: 20px;
	padding: 10px;
	padding-bottom: 0px;
	border: 10px solid transparent;
    border-radius: 10px;   
    transition: box-shadow 0.3s ease-in-out;
}

/*.containers:hover{	
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);	//Implemented in JS
}*/

.p-title-size {
	font-size: 16px;
	color;
}

.p-header-exps {	
	color: #EAEAEA		
}

.p-content{
	margin-top: 10px;
	padding: 0;
}

.p-locations{
	color: #B7B7B7;
}

.fa-location-dot{
	padding-left: 10px;
	color: #D3D3D3;
}

.skills-projects{
	justify-content: space-between;	
	display: flex;
}

.skills{
	display: flex;
	flex-wrap: wrap;
}

.skills li {
	font-size: 12px;	
	margin-right: 10px;
	padding: 5px 15px;
	background-color: #87CEEB;
	color: black;
	border-radius: 10px;
	border: none;
}

.skills-lang {
	background-color: #7094DD !important;
}

.modal-btn-icon{
	position: relative;
	display: inline-block;
  	transition: transform 0.2s ease-in-out;
}

.modal-btn-icon:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

#openModalBtn {
	cursor: pointer;
	font-size: 11px;	
	height: 50px;
	width: 60px;
	margin-right: 10px;
	background-color: #2A8BB3;
	color: white;
	border-radius: 10px;
	border: none;	
	transition: transform 0.3s;
}

.fa-circle-info{
	cursor: pointer;
	font-size: 11px;	
	top: 4px;
	right: 14px;
	position: absolute;
	color: whitesmoke ;
	vertical-align: middle;
  	transition: transform 0.2s ease-in-out;
	
}

.modal-btn-icon:hover .fa-circle-info {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

.modal {    
    position: fixed;   
    left: 60px;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    transform: translateY(100%);/*transform: translateY(100%);*/
}

.modal.show {
	transform: translateY(0%);
	top: 30px;
	left: 60px;
}

.close-modal {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;   
    color: #949494;
    cursor: pointer;   	
 	font-size: 28px;
  	font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #D3D3D3;  
  cursor: pointer;
}


.modal-content {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal-content #btn-left,
.modal-content #btn-right{
	position: absolute;
	height: 40%;
	width: 50px;
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 40px;
	margin: 0 10px;
	color: var(--secondary-color);
	z-index: 1;
	outline: none;
	transition: all 0.3s;

}

.modal-content #btn-left:hover{
	transform: translateX(-5px);
	background-color: gray;
}

.modal-content #btn-right:hover{	
	transform: translateX(5px);
	background-color: gray;
}

.modal-content #btn-left{
	left: 0;
}

.modal-content #btn-right{
	right: 0;
}

.slider {	
	display: flex;		
	margin-left: 90px;
	margin-right: 90px;
	overflow: hidden;
	height: calc(100vh - 80px);/*80px del nav bar*/
	scroll-behavior: smooth;
}

.screen-content {
	display: flex;
	flex-direction: column;	
	align-items: center;
	flex-basis: 100%;
	flex-shrink: 0;	
}

.screen-content h2{
	margin-top: 40px;
	margin-bottom: 40px;
}

.screensParagraph{
	margin-top: 20px;		
	max-width: 800px;
	margin-bottom: 20px;
	text-align: justify;	
}

.screen-content #loginScreen{
	margin-right: 40px;	
	width: 350px;
	height: 400px;
}

.screen-content #mainScreen{
	width: 630px;
	height: 400px;		
}

.screen-content #createItemModal{
	width: 630px;
	height: 400px;
}

.screen-content #detailItem{
	width: 900px;
	height: 400px;
}

.screen-content #uploadFiles{
	width: 600px;
	height: 400px;
}

.screen-content #reportsScreen{
	width: 900px;
	height: 400px;
}

.screen-content #reportDetail{
	width: 900px;
	height: 400px;
}

.screen-content #dbAdministration{
	width: 700px;
	height: 400px;
}

#education-courses {
	font-size: 14px;   
}

.div-li-certs {
	display: flex;
	padding-bottom: 10px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center;
    margin-right: 20px;
}

.grid-container a {
    margin-bottom: 10px; /* Adjust the spacing between the first image and the others */
}

.grid-container img {
    max-width: 100%; /* Ensure images do not exceed their container width */
}

.cert-icon { 
	position: relative; 
	margin-bottom: 20px;
}
.cert-icon img { 
	display: block; 
}

.cert-icon .fa-square-up-right { 
	position: absolute; 
	top:2px; 
	right:8px; 
	color: #7094DD ;
	font-size: 26px; 
}

.fix-square-pos{/*For Web Development from Scratch the icon moves to the right*/
	margin-right: 9px;
}

.certificate {
	width: 100px;
	height: 100px;	
	border-radius: 10px;
	margin-right: 20px;
}

.logo {
	margin-right: 0px;
}

.logo img{
	width: 40px;
	height: 20px;	
	border-radius: 5px;
	margin-right: 5px;
}

ul.course-topics {
	margin-top: 10px;
	margin-left: 15px;

}

ul.course-topics li::before {
    content: "•"; /* You can use the Unicode character for a square bullet (•) */
    color: white; /* Set the color of the bullet points */
    margin-right: 10px; /* Add some spacing between the bullet and the list item text */

}

ul.course-topics li{
	text-indent: -15px;
}



.education{	
	margin-top: 50px;
	text-align: center;
}

.logo-education {
	width: 130px;
	height: 130px;	
	border-radius: 10px;
	margin-bottom: 20px;	
}

.education-content{
	 margin-left: 5px;
	 font-size: 1.1rem;
	 padding-bottom: 10px;
}



.container-langs{
	display: flex;
	justify-content: center;
	padding-left: 40px;
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.language {
	margin-top: 30px;
	margin-right: 50px;	
	text-align: center;
	margin-bottom: 30px;
}



footer{
	margin-top: 100px;
	font-size: 13px;
}



@media screen and (max-width: 768px){

	.lnkd-pdf-mobile-version {
		display: flex;
		 align-items: center;
	}

	.cont-resume{
		margin-left: 10px;
		padding-bottom: 30px;
	}
	.menu-mobile{	
		display: block;	
		margin-bottom: 10px;
		padding-top: 0px;		
	}
	.wraper {
		display: block;
	}
	header{
		margin-left: 20px;
		margin-top: 30ox;
	}
	header p{
		margin-bottom: 10px;
		margin-right: 12px;
	}

	h1 {
		font-size: 22px;
		margin-right: 10px;
	}

	nav{
		display: none;
	}

	p, .p-content{
		font-size: 13px;		
	}

	#resume{
		font-size: 10px;
	}

	.subtitles {
		margin-top: 40px;
		color: white;
		font-weight: 600;
	}

	main {
		margin-top: 0px;
		margin-left: 0px;
		padding: 0px;
		padding-top: 20px;
	}

	.p-title-size {
		font-size: 14px;
		color: #F1F1F1
	}

	.about-p {
		margin-right: 10px;
	}

	.skills li {
		font-size: 12px;
		margin-top: 5px;
		margin-right: 5px;
		padding: 3px 8px;	
		text-align: center;			
		align-items: center;			
	}

	.modal-btn-icon{
		display: none;
	}

	.div-li-certs{
		display: block;
	}

	.grid-container {
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
		justify-content: center;
	}

	.certificate {
		width: 70px;
		height: 70px;		
	}

	.cert-icon{
		justify-content: center;
		margin-bottom: 7px;
		margin-left: 15px;
	}

	.fa-square-up-right{
		
		margin-right:15px;
	}

	.container-langs{
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 40px;
		padding-right: 10px;
	}

	.language {
		margin-right: 30px;
	}

	footer{
		margin-top: 30px;
		margin-left: 15px;
		font-size: 13px;
	}
}
